<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Inserir uma senha</label>
    <input type="password" name="password" id="room-pass" placeholder="Inserir uma senha" />
    <button>
      <img src="/images/users-white.svg" alt="Criar sala" />
      Criar sala
    </button>
  </form>
</section>